<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nl.ttvp.m"
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>TTVP competitie</name>

    <description>
       Een app van TTVP voor de standen en uitslagen van de NTTB competitie
    </description>

    <author href="http://www.ttvp.nl" email="luke@ttvp.nl">
    Luke Otto 
    </author>
	
	<gap:platform name="winphone" />
	<gap:platform name="android" />
	<preference name="permissions"                value="none"/>
	<icon src="icon.png" />
	<access origin="http://m.ttvp.nl" subdomains="true" />
	
</widget>